/*MISC*/
* {
  margin: 0%;
  padding: 0%;
  font-family: cooper-black-std,serif;
  font-weight: 400;
  font-style: normal; }

body {
  width: 100%;
  margin: auto;
  background-image: url("../pages/img/backx.jpg");
  background-size: cover; }

/*VARIABLES*/
/*Margin & padding & gap*/
/*MAPS - banner in izaje.scss*/
/*mixin aplicado a mudanza*/
/*PARTIALS*/
/*HEADER*/
header {
  background-color: white; }
  header .header-nav {
    max-width: 1200px; }
  header .nav__logo {
    width: 200px; }
  header .nav__ul .ul__li .nav__item {
    margin: 10px; }
  header .nav__ul .ul__li .nav__link {
    font-size: 15px;
    padding: 5px;
    color: red;
    border: 3px solid white;
    border-radius: 5px;
    transition: border 1s; }
  header .nav__ul .ul__li .nav__link:hover {
    border-color: red;
    color: white;
    background-color: red; }

/*FOOTER*/
.footer {
  max-width: 1200px;
  font-size: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center; }

/*VIEWS*/
/* INICIO.HTML MAIN CONTAINER*/
.main-mudanza {
  max-width: 1200px;
  margin: auto; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

.carousel-boot {
  margin-top: 60px;
  max-width: 650px; }

.card {
  margin: 10px;
  padding: 10px; }

.btn-boot {
  margin-bottom: 40px; }

.btn {
  color: white; }

.btn:hover {
  background-color: black;
  border: solid 1px black; }

.main-subtitulo {
  color: white;
  background-color: red;
  margin: 40px;
  padding: 10px;
  text-align: center; }

.main-titulo {
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
  background: linear-gradient(to left, red, white);
  border-radius: 10px;
  box-shadow: 6px 10px 10px black;
  text-align: center; }

.main-wtp {
  height: 70px;
  position: fixed;
  left: 80%;
  top: 85%;
  transition: height 1s; }

.main-wtp:hover {
  height: 80px; }

.main-img {
  width: 90%;
  border: solid white 5px; }

.main-wtp {
  height: 70px;
  position: fixed;
  left: 80%;
  top: 85%;
  transition: height 1s; }

/* ###  mudanzas.html ### */
#container .article-mudanza {
  max-width: 95%;
  justify-content: center;
  margin: auto; }
  #container .article-mudanza .card .card-img .picture-img {
    width: 100%; }
  #container .article-mudanza .card .servicios-article .title-article {
    color: black;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    /* color: $font-color1;
                    font-size: $font-size-h1;
                    margin: $small;
                    padding: $small;*/ }
  #container .article-mudanza .card .servicios-article .subtitle-article {
    color: red;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    /*color: $font-color3;
                    font-size: $font-size-h2;
                    margin: $small;
                    padding: $small;*/ }
  #container .article-mudanza .card .servicios-article .parraph-article {
    color: black;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    /* color: $font-color1;
                    font-size: $font-size-h3;
                    margin: $small;
                    padding: $small;*/ }

/*## IZAJE.HTML ##*/
.main-izaje {
  max-width: 1200px;
  margin: 0 auto; }

.grid-banner {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-areas: "img1 img1 img2" "img1 img1 img3" "img1 img1 img4" "img1 img1 img5";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  align-items: center;
  gap: 10px; }

.img-banner1 {
  max-width: 100%;
  background-color: white;
  grid-area: img1; }

.img-banner2 {
  max-width: 100%;
  background-color: white;
  grid-area: img2; }

.img-banner3 {
  max-width: 100%;
  background-color: white;
  grid-area: img3; }

.img-banner4 {
  max-width: 100%;
  background-color: white;
  grid-area: img4; }

.img-banner5 {
  max-width: 100%;
  background-color: white;
  grid-area: img5; }

.container .grid-banner .img-1 {
  max-width: 100%; }

.container .grid-banner .img-2 {
  max-width: 100%; }

.container .grid-banner .img-3 {
  max-width: 100%; }

.container .grid-banner .img-4 {
  max-width: 100%; }

.container .grid-banner .img-5 {
  max-width: 100%; }

/*FIN IZAJE*/
/*### MAIN NOSOTROS ###*/
.main-nosotros__flex {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 20px; }
  .main-nosotros__flex .nosotros-cabecera__flex {
    max-width: 100%;
    margin: 60px auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center; }
    .main-nosotros__flex .nosotros-cabecera__flex .main-parrafo {
      margin: 10px;
      padding: 10px; }
  .main-nosotros__flex .div-img__nosotros {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; }
    .main-nosotros__flex .div-img__nosotros .nosotros-img {
      max-width: 100%; }

/*### MAIN CONTACTO ###*/
.container .contact .contact__form .form__label {
  color: red; }

.container .contact .contact__maps .contacto-maps {
  margin: auto; }

.container .contact .contact__maps .img-mps {
  max-width: 100%; }

.container .section__redes {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  justify-content: space-around;
  align-items: center; }
  .container .section__redes .article__redes {
    margin: auto;
    max-width: 100%; }
    .container .section__redes .article__redes .redes__img {
      max-width: 100%; }
      .container .section__redes .article__redes .redes__img .redes {
        height: 80px;
        margin: 5px;
        padding: 5px; }

/*FIN MAIN CONTACTO*/
@media screen and (min-width: 680px) and (max-width: 840px) {
  .ul-flex {
    font-size: 20px;
    gap: 10px; }
  .main-titulo {
    font-size: 20px; }
  .grid-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 3fr 3fr 3f;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    flex-grow: 1; }
  .section-article1, .section-article2, .section-article3, .section-article4 {
    display: flex;
    flex-direction: column; }
  .presupuesto-btn {
    font-size: 20px; } }

@media screen and (min-width: 480px) and (max-width: 679px) {
  .ul-flex {
    font-size: 15px;
    gap: 10px; }
  .nav-flex {
    font-size: 15px;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px; }
  .main-titulo {
    font-size: 15px; }
  .grid-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 3fr 3fr 3f;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    flex-grow: 1; }
  .section-article1, .section-article2, .section-article3, .section-article4 {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .ul-flex {
    padding: 15px 0px;
    font-size: 10px;
    gap: 5px; }
  .nav-flex {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px; }
  .nav-header {
    margin: 2px;
    padding: 2px; }
  .logo-img {
    width: 100px; }
  .main-titulo {
    font-size: 30px;
    padding: 10px;
    margin: 20px; }
  .presupuesto-btn {
    margin: 40px auto;
    padding: 10px; }
  .h2-btn {
    font-size: 10px; }
  .footer p {
    font-size: 8px; }
  .grid-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .section-article1, .section-article2, .section-article3, .section-article4 {
    display: flex;
    flex-direction: column; }
  .main-wtp {
    height: 30px;
    position: fixed;
    left: 70%;
    top: 85%; }
  .main-subtitulo {
    font-size: 15px;
    padding: 10px;
    text-align: center;
    color: white; }
  p, .main-parrafo {
    font-size: 8px;
    padding: 10px;
    text-align: center; }
  #contacto-flex {
    margin: auto;
    width: 100%;
    background-color: aliceblue;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .post-flex {
    margin: auto;
    padding: 10px;
    border: none;
    margin-bottom: 20px; }
  .img-maps {
    width: 100%; } }

@keyframes scale {
  0% {
    font-size: 24px;
    color: red; }
  50% {
    font-size: 23px;
    color: red; }
  100% {
    font-size: 24px;
    color: red; } }
