    /*FOOTER*/

.footer{
    max-width: 1200px;
    font-size: $font-size-p;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: $largue;
    background-color: $color-footer;
    color: white;
    text-align: center;
}