
    /*HEADER*/
header {
    background-color: white;
    .header-nav{
    max-width: 1200px;
    }
    .nav__logo{
    width: 200px;
    }
    .nav__ul{
        .ul__li{
            .nav__item{
                margin: $small;
            }
            .nav__link{ 
                font-size: $medium;
                padding: $xsmall;
                color: $color-primary;
                border: 3px solid white;
                border-radius: $xsmall;
                transition: border 1s;
            }
            .nav__link:hover{
                border-color: $color-primary;
                color: $font-color2;
                background-color: $color-primary;
            }
        }

    }
}   
