/*### MAIN CONTACTO ###*/


.section__redes{
    margin: $xlargue;
    padding: $small;
    background-color: $color-secundary;
    justify-content: space-around;
    .article__redes{
        margin: auto;
        max-width: 100%;
        .redes__img{
            max-width: 100%;
            .redes{
                height: 80px;
                margin: $xsmall;
                padding: $xsmall;
            }
        }

    }
}