/*### MAIN CONTACTO ###*/


.section__redes{
    margin: 50px;
    padding: 10px;
    background-color: white;
    justify-content: space-around;
    .article__redes{
        margin: auto;
        max-width: 100%;
        .redes__img{
            max-width: 100%;
            .redes{
                height: 80px;
                margin: 10px;
                padding: 10px;
            }
        }

    }
}