/*### CONTACTO.HTML ###*/


.container{
    .contact{
        .contact__form{
            .form__label{
                color: $font-color3;
            }
        }
        .btn-submit{
            margin: auto;
            .btn-primary{
                background-color: $color-primary;
                border-color: $color-primary;
                border-radius: $xsmall;
            }
            .btn-primary:hover{
                border-color: $color-primary;
                color: $font-color2;
                background-color: $color-primary;

            }
            
        }
        .contact__maps{
            .contacto-maps{
                margin: auto;
            }
            .img-mps{
                max-width: 100%;
            }
        }
    }
    .section__attention{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        margin-top: $largue;
        margin-bottom: ($largue*2);
        background-color: $color-secundary;
        display:flex;
        align-items: center;
        .attention_img{
            width: 100%;
            text-align: center;
            @include normal($small, $small);
            .img-att{
                width: 100%;
            }
        }
        .attention__info{
            .attention-subtitulo{
                @include normal($small, $small);
                font-size: $font-size-h2;
                color: $font-color3;                
            }
            .attention-p{
                @include normal($small, $small);                
                font-size: $font-size-p;
                color: $font-color1;
            }
        }
    
    }
    .section__redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        margin-top: $largue;
        margin-bottom: $largue;
        padding: $small;
        background-color: $color-secundary;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        .article__redes{
            margin: auto;
            max-width: 100%;
            .redes__img{
                max-width: 100%;
                .redes{
                    max-width: 100%;
                    height: ($xlargue*2);
                    @include normal($xsmall, $xsmall);                    
                }
            }

     }
    }
}

/*### FIN CONTACTO.HTML ###*/