/* INICIO.HTML MAIN CONTAINER*/

.main-mudanza{
    max-width: 1200px;
    margin: auto;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.carousel-boot{
    margin-top: 60px;
    max-width: 650px;
}

.card{
    margin: $small;
    padding: $small;
}

.btn-boot{
    margin-bottom: $xlargue;
}

.btn{
    color: $color-secundary;
    }

.btn:hover{
    background-color: $color-footer;
    border: solid 1px $color-footer;
}

.main-subtitulo{
    color: $color-secundary;
    background-color: $color-primary;
    margin: $xlargue;
    padding: $small;
    text-align: center;
    }

.main-titulo{
    font-size: $font-size-h1;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: $largue;
    background: linear-gradient(to left, red, white);
    border-radius: $small;
    box-shadow: 6px 10px 10px black;
    text-align: center;
}

.main-wtp{
    height: 70px;
    position: fixed;
    left: 80%;
    top: 85%;
    transition: height 1s;
}

.main-wtp:hover{    
    height: 80px;
}

.main-img{
    width: 90%;
    border: solid white 5px;
}

.main-wtp{
    height: 70px;
    position: fixed;
    left: 80%;
    top: 85%;
    transition: height 1s;
}