/* INICIO.HTML MAIN CONTAINER*/





    .container{
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }

    .carousel-boot{
        margin-top: $largue;
        margin-bottom: ($largue*2);
        max-width: 650px;
    }

    .card{
        margin: $small;
        padding: $small;
    }

    .btn-boot{
        margin-bottom: $xlargue;
    }

    .btn{
        color: $color-secundary;
        }

    .btn:hover{
        background-color: $color-footer;
        border: solid 1px $color-footer;
    }

    .main-subtitulo{
        color: $color-secundary;
        background-color: $color-primary;
        margin: $xlargue;
        padding: $small;
        text-align: center;
        }


.main-wtp{
    height: 70px;
    position: fixed;
    left: 80%;
    top: 80%;
    transition: height 1s;
    z-index: 50;
}

.main-img{
    width: 90%;
    border: solid white 5px;
}

.main-wtp{
    height: 70px;
    position: fixed;
    left: 80%;
    top: 85%;
    transition: height 1s;
}



.info-pago{
    margin: auto;
    padding: $small;
    display: flex;
    flex-direction: column;
    .info-pago__subtitle{
        margin: auto;
        padding: 10px, 20px;
        padding: $medium;
        text-align: center;
        font-size: 20px;
        color: $color-primary;
        .subtitle__pago{
            margin: $medium;
            padding: 20px;
            border: 1px solid black;
        }        
    }
    .card__pago{
        max-width: 1200px;
        width: 100%;
        background-color: $color-secundary;
        display: flex;
        flex-direction: column;
        margin: auto;
        }
        .picture__pago{
            margin: auto;
            display: flex;
            .img__pago{
                max-width: 1200px;
                width: 50%;
                margin: auto;
                padding: $small;
            }
        }               
}  

.info-habilitacion{
    background-color: $color-secundary;
    max-width: 1200px;
    margin: auto;
    padding: $small;
    display: flex;
    flex-direction: row;
    .info__habilitacion{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: $medium;
        .card__habilitacion{
           .img__habilitacion{
            max-width: 1200px;
            width: 100%;
           }
        }
    }
}