/*## IZAJE.HTML ##*/
/*
.main-izaje{
    max-width: 1200px;
    margin: 0 auto;
}
*/
.container{
    .info__izaje{
        margin: $small;
        margin-bottom: $xlargue;
        padding: $small;
        background: rgba( 255, 255, 255, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    .card{
        margin: $small;
        padding: $small;
    }
}


.grid-banner{
    width: 100%;
    padding: $small;
    background-color: $color-secundary;
    display: grid;   
    grid-template-areas: 

    "img1 img1 img2"
    "img1 img1 img3"
    "img1 img1 img4"
    "img1 img1 img5";

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: $small;
}


@each $key, $val in $banner {
    .img-banner#{$key} {
        max-width: 100%;
        background-color: $color-secundary;
        grid-area: #{$val};

    }
    
}


@each $key, $val in $width {
    .container{
        .grid-banner{
            .img-#{$key}{
            max-width: 100%;
            }
        }
    }
}

/*### FIN IZAJES.HTML ###*/