/* ###  mudanzas.html ### */

#container{
    .article-mudanza{
        max-width: 95%;
        justify-content: center;
        margin: auto;
        .card{
            .card-img{
                .picture-img{
                    width: 100%;
                    }
                }
            .servicios-article{
                .title-article{
                    color: $font-color1;
                    font-size: $font-size-h1;
                    margin: $small;
                    padding: $small;
                    }                    
                .subtitle-article{
                    color: $font-color3;
                    font-size: $font-size-h2;
                    margin: $small;
                    padding: $small;
                    }
                .parraph-article{
                    color: $font-color1;
                    font-size: $font-size-h3;
                    margin: $small;
                    padding: $small;
                    }
            }
        }
    }
}
                
                
            
                
            
        


    
