



/* ###  MUDANZAS.HTML ### */

#container{
    .nav__logo{
        width: 200px;
        }
        .main-titulo{
            font-size: $font-size-h1;
            margin: auto;
            padding: $largue;
            background: linear-gradient(to left, red, white);
            border-radius: $small;
            box-shadow: 6px 10px 10px black;
            text-align: center;
        }
    .article-mudanza{
        max-width: 95%;
        justify-content: center;
        margin: auto;
        .card{
            @include normal($small, $small);            
            .card-img{
                .picture-img{
                    width: 100%;
                    }
            }
            .servicios-article{
                .title-article{
                    @include article($font-color1, $font-size-h1, $small, $small);
                    @include font($font-principal, $style);
                    }                                   
                .subtitle-article{
                    @include article($font-color3, $font-size-h2, $small, $small);
                    @include font($font-principal, $style);
  
                    }
                .parraph-article{
                    @include article($font-color1, $font-size-h3, $small, $small);                                
                    }
            }
        }
    }
}

/* ###  FIN MUDANZAS.HTML ### */

                
                
            
                
            
        


    
