/* ###  mudanzas.html ### */

#container{
    .nav__logo{
        width: 200px;
        }
        .main-titulo{
            font-size: $font-size-h1;
            margin: auto;
            padding: $largue;
            background: linear-gradient(to left, red, white);
            border-radius: $small;
            box-shadow: 6px 10px 10px black;
            text-align: center;
        }
    .article-mudanza{
        max-width: 95%;
        justify-content: center;
        margin: auto;
        .card{
            .card-img{
                .picture-img{
                    width: 100%;
                    }
                }
            .servicios-article{
                .title-article{
                    @include article($font-color1, $font-size-h1, $small, $small)
                   /* color: $font-color1;
                    font-size: $font-size-h1;
                    margin: $small;
                    padding: $small;*/
                    }
                                   
                .subtitle-article{
                    @include article($font-color3, $font-size-h2, $small, $small)
                    /*color: $font-color3;
                    font-size: $font-size-h2;
                    margin: $small;
                    padding: $small;*/
                    }
                .parraph-article{
                    @include article($font-color1, $font-size-h3, $small, $small)
                   /* color: $font-color1;
                    font-size: $font-size-h3;
                    margin: $small;
                    padding: $small;*/
                    }
            }
        }
    }
}
                
                
            
                
            
        


    
