/*### NOSOTROS.HTML ###*/

.main-nosotros__flex{
    max-width: 1200px;
    margin: auto;
    @include flex($display, $direction-column, none);
 /*   display: flex;
    flex-direction: column;*/
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20px;
    .nosotros-cabecera__flex{
        max-width: 100%;
        margin: 10px auto;
        background: rgba( 255, 255, 255, 0.5 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        .main-parrafo{
            @include normal($small, $small);
        }    
    }
    .div-img__nosotros{
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .nosotros-img{
            max-width: 100%;
        }
    }

}

/*## FIN NOSOTROS.HTML ##*/




