/*mixin aplicado a mudanza*/


@mixin article($color, $font-size, $margin, $padding)
{
color: $color;
font-size: $font-size;
margin: $margin;
padding: $padding;
}

@mixin width($max-width){
max-width: $max-width;
}


/*MARGIN & PADDING SMALL*/
@mixin normal($margin, $padding){
margin: $margin;
padding: $padding;
}

/*MIXIN FLEX*/
@mixin flex($display, $direction-column, $flex-wrap){
display: $display;
flex-direction: $direction-column;
flex-wrap: $flex-wrap;
}

@mixin font($font, $style){
font-family: $font;
font-style: $style;
}