*{
    margin: 0%;
    padding: 0%;
    font-family: cooper-black-std,serif;
    font-weight: 400;
    font-style: normal;                                                
}
body{
    width: 100%;
    margin: auto;
    background-image: url("../pages/img/backx.jpg");
    background-size:cover;
}