/*VARIABLES*/

$color-primary: red;
$color-secundary: white;
$color-title: red;

$font-color1: black;
$font-color2: white;
$font-color3: red;

$color-header: white;
$color-footer: black;

$font-size-nav: 40px;
$font-size-h1: 30px;
$font-size-h2: 20px;
$font-size-h3: 15px;
$font-size-p: 12px;
$font-size-small: 8px;

/*Margin & padding & gap*/

$xlargue: 40px;
$largue: 20px;
$medium: 15px;
$small: 10px;
$xsmall: 5px;
$xxsmall: 2px;

/*MAPS - banner in izaje.scss*/

$banner: (
    1: 'img1',
    2: 'img2',
    3: 'img3',
    4:' img4',
    5: 'img5',
);

$width: (
    1: 'img-1',
    2: 'img-2',
    3: 'img-3',
    4: 'img-4',
    5: 'img-5',
)